.page-header {
  position: relative;
  background-color: #af0606;
  height: 150px;
  width: 100%;
  top: -40px;
  z-index: 8;
  text-align: center;
  margin-bottom: 0;
}
.header-overlay {
  position: absolute;
  background-image: url("../images/header_background.png");
  background-size: cover;
  z-index: 9;
  height: 100%;
  width: 100%;
}
#logo {
  top: 25px;
  position: relative;
}
#search-button {
  background-color: #ba0006;
  border-color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
}
.search-function {
  top: 30px;
  padding-left: 20px;
  position: relative;
  z-index: 10;
  display: inline-block;
}

#review-adder {
  position: relative;
  display: inline-block;
  top: 30px;
  padding-left: 20px;
  z-index: 10;
}

#review-holder {
  visibility: hidden;
}
